<div class="body">

  <div class="main">

    <p class="sign" align="center">Sign Up</p>

    <form class="form1">
      <input class="un " type="text" align="center" placeholder="Name">
      <input class="un " type="text" align="center" placeholder="Phone number">
      <input class="pass" type="password" align="center" placeholder="Password">
      <input class="pass" type="password" align="center" placeholder="Confirm password">
      <button class="submit" align="center">Sign up</button>
      <p class="forgot" align="center"><a routerLink="/sign-in">sign in</a></p>
    </form>

  </div>

</div>
