<div class="body">

  <div class="flex">

    <div class="l">

      <div class="img-body">
        <img src="assets/images/users/avatar/user1.jpg" alt="Profile avatar image">
      </div>

      <div class="btn-body">
        <button>edit</button>
      </div>

    </div>

    <div class="r">
      <div class="full-name">
        Nico Tom
      </div>
      <div class="other-info">
        <div class="info">
          <p class="p-bold">Email:</p>
          <p class="p-simple">nico@gmail.com</p>
        </div>
        <div class="info">
          <p class="p-bold">Phone number:</p>
          <p class="p-simple">+77052627972</p>
        </div>
      </div>
    </div>

  </div>

</div>
